:root {
  --background: #0C0C0C;
  --header-bg-color: #0C0C0C66;
  --text: #fff;
  --border-color: #1a1a1a;
  --button-bg-color: #FFB7B2;
  --button-hover-bg-color: #A0E7E5;
  --button-text-color: #0C0C0C;
  --font: monospace;
}

* {
  box-sizing: border-box;
  transition: all 250ms ease;
}

.bodyLock {
  overflow: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font);
  background: var(--background);
  color: var(--text);
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    padding: 16px;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--header-bg-color);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
  }
}

.ProductListings {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  margin: auto;
  padding: 24px;
  max-width: 2000px;
}

.ProductImage {
  overflow: hidden;
  filter: sepia(50%) contrast(0.8);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 105, 180, 0.2);
    mix-blend-mode: screen;
    pointer-events: none;
  }

  figure {
    padding: 0;
    margin: 0;
    width: 500px;
    height: 400px;
    background-image: url(https://placehold.co/300x200);
    background-position: center;
    background-size: cover;
    transition: transform 300ms ease;
  }
}

.ProductListing {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  border: 2px solid var(--button-bg-color);
  border-radius: 8px;
  overflow: hidden;

  &:has(button:hover, button:focus) {
    border-color: var(--button-hover-bg-color);
  }

  figure {
    &:hover {
      transform: scale(1.1);
      cursor: zoom-in;
    }
  }

  .info {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 12px;
  }

  button {
    padding: 8px;
    border: none;
    border-top: 1px solid;
    border-radius: none;
    background: var(--button-bg-color);
    text-transform: uppercase;
    color: var(--button-text-color);
    font-family: var(--font);
    outline: none;

    &:hover, &:focus {
      background: var(--button-hover-bg-color);
      cursor: pointer;
    }
  }
}

.ProductDetail {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  cursor: zoom-out;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow:hidden;
    border-radius: 8px;
    border: 4px solid var(--button-bg-color);

    figure {
      width: 50vw;
      height: 85vh;
    }
    
    .description {
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 12px;

      h4 {
        margin: 0;
        border-bottom: 1px dashed;
      }
    }
  }
}