:root {
  --background: #0c0c0c;
  --header-bg-color: #0c0c0c22;
  --text: #fff;
  --border-color: #333;
  --button-bg-color: #ffb7b2;
  --button-hover-bg-color: #a0e7e5;
  --button-text-color: #0c0c0c;
  --font: monospace;
}

* {
  box-sizing: border-box;
}

.bodyLock {
  overflow: hidden;
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font);
  background: var(--background);
  color: var(--text);
  overflow-y: overlay;
}

button {
  padding: 8px;
  border: none;
  border-radius: none;
  background: var(--button-bg-color);
  text-transform: uppercase;
  color: var(--button-text-color);
  font-family: var(--font);
  outline: none;
  width: 100%;
  transition: background-color 300ms ease;

  &:hover,
  &:focus {
    background: var(--button-hover-bg-color);
    cursor: pointer;
  }
}

::view-transition-old(product-*),
::view-transition-new(product-*) {
  header {
    visibility: hidden;
  }
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;

  &:has(.ProductPreview) {
    header {
      opacity: 0;
    }
  }

  header {
    padding: 16px;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--header-bg-color);
    backdrop-filter: blur(3px) hue-rotate(65deg) saturate(1.1);
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
    text-align: center;
    transition: opacity 1000ms ease;
    view-transition-name: none;

    background: linear-gradient(180deg, #a0e7e5 0%, #ffb7b2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.ProductListings {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  margin: auto;
  padding: 24px;
  max-width: 2000px;
}

.ProductImage {
  overflow: hidden;
  filter: sepia(50%) contrast(0.8);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 105, 180, 0.2);
    mix-blend-mode: screen;
    pointer-events: none;
  }

  figure {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 200px;
    background-image: url(https://placehold.co/300x200);
    background-position: center;
    background-size: cover;
    transition: transform 300ms ease;
  }
}

.ProductListing {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  border: 2px solid var(--button-bg-color);
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 300ms ease;

  &:has(button:hover, button:focus) {
    border-color: var(--button-hover-bg-color);
  }

  figure {
    &:hover {
      transform: scale(1.1);
      cursor: zoom-in;
    }
  }

  .info {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 12px;
  }
}

.ProductPreview {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  cursor: zoom-out;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;
    border-radius: 8px;
    border: 4px solid var(--button-bg-color);
    transition: border-color 300ms ease;

    &:has(button:hover, button:focus) {
      border-color: var(--button-hover-bg-color);
    }

    figure {
      width: min(800px, 80vw);
      height: 400px;
    }

    .description {
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 12px;

      h4 {
        margin: 0;
        border-bottom: 1px dashed;
      }
    }
  }
}

.CheckoutPage {
  padding: 16px;

  form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 500px;

    h2 {
      margin: 0;
      text-align: center;
    }

    .pricing {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
    }

    .ProductImage {
      border: 2px solid var(--button-bg-color);
      border-radius: 8px;
      figure {
        width: 100%;
      }
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .back {
      text-align: center;
    }

    input {
      color: inherit;
      background: none;
      border: 2px solid #ccc;
      padding: 8px;
      font-size: 16px;
      &::placeholder {
        color: currentColor;
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        border-color: var(--button-hover-bg-color);
      }
    }

    .placeholder {
      width: 100%;
      height: 200px;
      text-align: center;
      border: 2px dashed currentColor;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.NotFound {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
